html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


/* navbar */

.navbar li {
    float: left;
    border-right: 1px solid rgb(65, 56, 56);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(44, 36, 36);
}

.navbar a {
    display: block;
    color: rgb(185, 183, 183);
    text-align: center;
    padding: 14px 16px;
    background-color: rgb(44, 36, 36);
    ;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}


/* name on banner */

.NameDiv {
    background-color: rgba(255, 255, 255, 0.103);
    height: 40%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.NameDiv h1 {
    margin: 0;
    padding: 0;
    color: white;
}

.NameDiv img {
    width: auto;
    height: 100px;
}


/* small text on banner */

.smallTextOnBanner {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* call to action button strip */

.buttonDiv {
    background-color: rgba(250, 235, 215, 0.13);
    height: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonDiv a {
    background-color: rgb(77, 74, 70);
    padding: 25px 40px;
    border-radius: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.buttonDiv a:hover {
    background-color: rgb(87, 91, 94);
}


/* Blocks */

.block {
    width: auto;
    height: 22cm;
}

.block#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.5)), url(Resources/background.jpg);
    height: 22cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* block2 */


/* block2 */


/* block2 */

.block2 {
    background-color: rgb(39, 39, 39);
}


/* block2 title */

.Block2Ttile {
    text-align: center;
    color: white;
}


/*block2 subtitle */

.centerSubText h1 {
    margin: 0;
    padding: 2cm 0 0 0;
}

.centerSubText p {
    margin: 0;
    padding: 0 0 2cm 0;
}


/* center block 2 images */

.centerImagesDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.productImage {
    text-align: center;
    width: 650px;
    opacity: .7;
    text-shadow: 14px 3px 8px black;
}

.productImage:hover {
    opacity: 1;
}

.productImage img {
    width: 95%;
    height: auto;
}

.productImage h2,
p {
    color: white;
}

.productImage p:first-of-type::first-letter {
    color: #903;
    font-family: Georgia;
    font-size: 30px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 1px;
    padding-left: 3px;
}


/* footer */


/* footer */


/* footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(56, 56, 56);
    box-shadow: inset -1px 5px 20px 20px #2f2f2f;
    height: auto;
    padding: 2cm 0;
}

footer div {
    width: 10cm;
    height: 100px;
    margin: 70px 0 0 10px;
    color: white;
}

div+button {
    text-shadow: 7px 4px 6px black;
}

footer img {
    width: auto;
    height: 20px;
}

p#LastModified,
dl {
    margin: 0;
    padding: .2cm;
    text-align: right;
    color: white;
}

button {
    background-color: #903;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* responsive css is in responsive.css  */