* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: rgb(66, 66, 66);
}


/* navbar */

.navbar li {
    float: left;
    border-right: 1px solid rgb(65, 56, 56);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(44, 36, 36);
}

.navbar a {
    display: block;
    color: rgb(185, 183, 183);
    text-align: center;
    padding: 14px 16px;
    background-color: rgb(44, 36, 36);
    ;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
}


/* name on banner */

.NameDiv {
    background-color: rgba(255, 255, 255, 0.103);
    height: 40%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NameDiv h1 {
    margin: 0;
    padding: 0;
    color: white;
}

.NameDiv img {
    width: auto;
    height: 100px;
}


/* small text on banner */

.smallTextOnBanner {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* call to action button strip */

.buttonDiv {
    background-color: rgba(250, 235, 215, 0.13);
    height: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonDiv a {
    background-color: rgb(77, 74, 70);
    padding: 25px 40px;
    border-radius: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.buttonDiv a:hover {
    background-color: rgb(87, 91, 94);
}


/* Blocks */

.block {
    width: auto;
    height: 22cm;
}

.block#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.5)), url(Resources/background.jpg);
    height: 22cm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* block2 */


/* block2 */


/* block2 */

.block2 {
    background-color: rgb(87, 87, 87);
    height: 30cm;
}


/* table */

.block2 tr:nth-child(even) {
    background-color: #dddddd;
}

.block2 tr:nth-child(odd) {
    color: white;
}

.block2 tr:first-of-type,
tr:last-of-type {
    background-color: #363535;
    color: white;
}

.block2 blockquote {
    margin: 50px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border: #363535 solid;
    padding: 75px;
    text-shadow: 2px 1px 4px rgb(155, 155, 155);
}

.TaliusLogo {
    width: auto;
    height: 40px;
}

.centerFAQ {
    width: 70%;
    margin: auto;
    position: relative;
    top: 10%;
}

.centerFAQ>h1 {
    margin: 0;
    transform: rotate(2deg);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


/* bock3 */


/* bock3 */


/* bock3 */

.block3 {
    height: 22cm;
    background-color: rgb(58, 55, 55);
}


/* ordered list */

ol {
    margin: 0;
}


/* form */

.CenterForm {
    background-color: rgba(133, 78, 78, 0);
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.CenterForm>h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

form input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form label {
    color: white;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}